body {
    background-image: url(../images/strip.jpg);
    background-repeat: repeat;
    font-family: arial,sans-serif;
}
h1 {
    text-align: center;
    font-size: 45px;
    font-style: italic;
}
q {
    text-align: center;
    display: block;
    font-style: oblique;
}
q+q {
    font-style: normal;
    font-size: 13px;
}
h3 {
    font-style: oblique;
}
#left,#right {
    position: relative;
    float: left;
    width: 50%;
    /*margin: 5px;*/
}
hr{
    display: block;
    clear: both;
}

h1:first-letter {
    font-size: 60px;
}
p:first-line {
    font-weight: bold;
}
p:first-letter {
    font-size: 25px;
}
a {
    text-decoration: none;
}
a::hover {
    color: red;
}
a::visited {
    color: blue;
}
q {
    word-spacing: 0.2em;
    font-family: serif;
}
q+q{
    margin-bottom: 10px;
}
h3 {
    font-variant: small-caps;
}